* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Helvetica;
}

.link-referencia {
    background-color: blue;
    color: white;
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
}

.link-referencia:hover {
    text-decoration: underline;
    color: black;
}

.contenedor-principal {
    text-align: center;
}

.contenedor-clases {
    height: 100vh;
    background-color: yellow;
}

.lista-semanas {
    margin: 40px;
    padding: 40px;
    /* quita los puntos a la lista */
    list-style: none;
}

h3 {
    font-size: 3em;
    margin: 20px;
}

.divisor {
    margin: 20px;
    height: 4px;
    background-color: red;
    border: none;
    border-radius: 12px;
}

.lista-semanas li {
    padding: 20px;
}

.imagen-perfil {
    border-radius: 50%;
    border: 2px solid red;
}

btn-github {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.imagen-programador {
    border-radius: 8px;
    margin-top: 40px;
    /* margin-left: ;
    margin-right: ;
    margin-bottom: ; */
}